includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    level: 8
    paths:
        - app/Models
    scanFiles:
        - ./.phpstorm.meta.php
        - ./_ide_helper.php
        - ./_ide_helper_models.php